@import './mixins';
@import './variables';

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: $brown;
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover .navbar {
    display: block;
  }
}

.navbar {
  display: none;
  position: absolute;
  background-color: $brown;
  box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 999;
  li {
    list-style: none;
  }
  a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
    &:hover {
      color: $pink;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: $brown;
  h1 {
    color: white;
    margin: 0 10px;
  }
  .logo-color {
    color: $pink;
  }
  .hamburger {
    margin: 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.header-image {
  position: relative;
  img {
    width: 100%;
    height: 650px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 28px;
    left: 15%;
    font-size: 2.5em;
  }
  button {
    @include button;
    position: absolute;
    top: 140px;
    left: 40%;
    border: 1px solid $blue;
    background-color: rgba(255, 255, 255, .7);
    color: $blue;
    &:hover {
      background-color: $blue;
      color: white;
      border: 1px solid white;
    }
  }
}

.amenities {
  @include icon-grid;
  .grid-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .amenity1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .amenity2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .amenity3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .amenity4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.thumbnails {
  display: none;
}

.events {
  @include icon-grid;
  margin-top: 50px;
  .grid-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .calendar-btn {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .event1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .event2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .event3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  button {
    @include button;
    background-color: $pink;
    color: white;
    &:hover {
      background-color: white;
      border: 1px solid $pink;
      color: $pink;
    }
  }
}

.footer {
  margin-top: 50px;
  padding: 20px 10px;
  background-color: $brown;
  text-align: center;
  p {
    line-height: 25px;
    font-size: 0.8em;
    color: white;
  }
}

// tablet and desktop views

@media screen and (min-width: 670px) {
  .hamburger {
    display: none;
  }
  .header {
    flex-direction: row-reverse;
  }
  .navbar {
    display: flex;
    position: relative;
    box-shadow: none;
    li {
      display: inline-block;
    }
    a {
      padding: 10px 10px;
    }
  }
  .amenities {
    .grid-title {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }
    .amenity1 {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }
    .amenity2 {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
    .amenity3 {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }
    .amenity4 {
      grid-column: 4 / 5;
      grid-row: 2 / 4;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px) {
  .thumbnails {
    display: flex;
    max-width: 100%;
    object-fit: cover;
    overflow: auto;
  }
}
