@import './src/sass/mixins';
@import './src/sass/variables';

.center-text {
  margin: 20px;
  text-align: center;
  h2 {
    margin-top: 30px;
  }
}

.rates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  .part-time {
    @include rates;
    background-color: $yellow;
  }
  .full-time {
    @include rates;
    background-color: $green;
  }
  .private-office {
    @include rates;
    background-color: $pink;
  }
}

.contact-form {
  padding: 20px 0;
  background-color: lighten(#50514F, 50%);
  display: flex;
  justify-content: center;
  form {
    width: 300px;
    input, textarea {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 5px;
    }
    textarea {
      height: 100px;
    }
    .button {
      @include button;
      color: white;
      background-color: $blue;
      margin: 10px auto;
      &:hover {
        background-color: white;
        border: 1px solid $blue;
        color: $blue;
      }
    }
  }
}
