<div class="img-long">
  <div class="text-box">
    <h1>room for everyone</h1>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/client_photos/entry-room.png" alt="entry of building">
</div>
<div class="img-long">
  <div class="text-box-right">
    <h1>small room</h1>
    <h4>4-6 guests</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/client_photos/area2.png" alt="lounge area">
</div>
<div class="img-long">
  <div class="text-box">
    <h1>medium room</h1>
    <h4>8-10 guests</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/client_photos/area1.png" alt="lounge area">
</div>
<div class="img-long">
  <div class="text-box-right">
    <h1>large room</h1>
    <h4>over 10 guests</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/client_photos/plant.png" alt="front desk">
</div>
<div class="img-long">
  <div class="text-box">
    <h1>kitchen and break room</h1>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/client_photos/cafeteria.png" alt="cafeteria">
</div>
