<div class="img-long">
  <div class="text-box">
    <h1>a coffee shop with meeting rooms.</h1>
    <hr><br>
    <p>A collaborative, co-working space located in the Pearl District. We provide flexible, full-service office spaces for all of Portland's entrepreneurs, free agents, start ups, and work groups.</p>
  </div>
  <img src="./assets/client_photos/entry-room.png" alt="entry of building">
</div>
<div class="gallery">
  <div class="img">
    <img src="./assets/client_photos/blue-room.png" alt="lounge area">
  </div>
  <div class="img">
    <img src="./assets/client_photos/pink-room.png" alt="lounge area">
  </div>
  <div class="img">
    <img src="./assets/client_photos/front-desk.png" alt="front desk">
  </div>
</div>
<div class="img-long">
  <img src="./assets/client_photos/cafeteria.png" alt="cafeteria">
</div>
