<div class="header">
  <div class="dropdown">
    <div class="hamburger">
      <img src="./assets/hamburger-icon.png" alt="dropdown button">
    </div>
    <div class="navbar">
      <ul>
        <li><a routerLink="gallery">The Workspace</a></li>
        <li><a routerLink="contact">Join Us</a></li>
        <li><a routerLink="calendar">Calendar</a></li>
        <li><a routerLink="login">Member LogIn</a></li>
      </ul>
    </div>
  </div>
  <div class="logo">
    <a routerLink=""><h1>Work<span class="logo-color">Space</span></h1></a>
  </div>
</div>
<div class="router-wrap">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>©2018 WorkSpace</p>
  <div class="icons-small">
    <img src="./assets/facebook.png" alt="facebook">
    <img src="./assets/linkedin.png" alt="facebook">
    <img src="./assets/email.png" alt="facebook">
  </div>
  <p>503-585-5250</p>
  <p>400 SW 6th Avenue | Portland Oregon</p>
</div>
