<div class="header">
  <div class="logo">
    <a routerLink=""><h1>WorkSpace</h1></a>
  </div>
  <div class="hamburger">
  </div>
  <div class="navbar">
    <ul>
      <li><a routerLink="login">Member LogIn</a></li>
      <li><a routerLink="gallery">The Workspace</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
      <li><a routerLink="calendar">Calendar</a></li>
    </ul>
  </div>
</div>
<div class="router-wrap">
  <router-outlet></router-outlet>
</div>

<div class="footer">
</div>
