<div class="img-long">
  <div class="text-box">
    <h1>yoga</h1>
    <h4>Tuesdays and Thursdays</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/yoga.jpeg" alt="yoga">
</div>
<div class="img-long">
  <div class="text-box-right">
    <h1>community craft night</h1>
    <h4>Wednesdays 4-6pm</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/crafts.jpeg" alt="craft night">
</div>
<div class="img-long">
  <div class="text-box">
    <h1>catered lunch buffet</h1>
    <h4>Mondays and Thursdays</h4>
    <p>Praesent feugiat felis eu ultricies aliquet. Duis a consectetur mi, et sollicitudin mauris. Suspendisse sed ipsum feugiat, condimentum elit eu, imperdiet tortor. Proin commodo risus sit amet bibendum facilisis. Sed hendrerit tristique neque, non sodales justo placerat dapibus.</p>
  </div>
  <img src="./assets/catering.jpeg" alt="catering">
</div>
