<div class="header-image">
  <h1>Welcome to your workspace.</h1>
  <button type="button" name="gallery">take a tour</button>
  <img src="./assets/client_photos/cafeteria.png" alt="cafeteria">
</div>
<div class="amenities">
  <h2>amenities</h2>
  <img src="./assets/coffee-icon.png" alt="coffee bar">
  <p>coffee bar</p>
  <img src="./assets/workers-icon.png" alt="community and private workspaces">
  <p>community and private workspaces</p>
  <img src="./assets/printer-icon.png" alt="printer and fax machine">
  <p>printer and fax machine</p>
  <img src="./assets/wifi-icon.png" alt="high-speed internet">
  <p>high-speed internet</p>
</div>
<div class="events">
  <h2>community events</h2>
  <button type="button" name="calendar">see calendar</button>
  <img src="./assets/yoga-icon.png" alt="yoga">
  <p>yoga</p>
  <img src="./assets/crafts-icon.png" alt="crafts">
  <p>crafts</p>
  <img src="./assets/food-icon.png" alt="food">
  <p>food</p>
</div>
