<div class="header-image">
  <h1>Welcome to your workspace.</h1>
  <button type="button" name="gallery">take a tour</button>
  <img src="./assets/client_photos/cafeteria.png" alt="cafeteria">
</div>
<div class="amenities">
  <div class="grid-title">
    <h2>amenities</h2>
  </div>
  <div class="amenity1">
    <img src="./assets/coffee-icon.png" alt="coffee bar">
    <p>coffee bar</p>
  </div>
  <div class="amenity2">
    <img src="./assets/workers-icon.png" alt="community and private workspaces">
    <p>community and private workspaces</p>
  </div>
  <div class="amenity3">
    <img src="./assets/printer-icon.png" alt="printer and fax machine">
    <p>printer and fax machine</p>
  </div>
  <div class="amenity4">
    <img src="./assets/wifi-icon.png" alt="high-speed internet">
    <p>high-speed internet</p>
  </div>
</div>
<div class="thumbnails">
  <div class="img">
    <img src="./assets/client_photos/blue-room.png" alt="lounge area">
  </div>
  <div class="img">
    <img src="./assets/client_photos/pink-room.png" alt="lounge area">
  </div>
  <div class="img">
    <img src="./assets/client_photos/front-desk.png" alt="front desk">
  </div>
</div>
<div class="events">
  <div class="grid-title">
    <h2>community events</h2>
  </div>
  <div class="calendar-btn">
    <button type="button" name="calendar">see calendar</button>
  </div>
  <div class="event1">
    <img src="./assets/yoga-icon.png" alt="yoga" style="width:100%">
    <p>yoga</p>
  </div>
  <div class="event2">
    <img src="./assets/crafts-icon.png" alt="crafts" style="width:100%">
    <p>crafts</p>
  </div>
  <div class="event3">
    <img src="./assets/food-icon.png" alt="food" style="width:100%">
    <p>food</p>
  </div>
</div>
